<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotionSecret</key>
	<string>$(NOTION_SECRET)</string>
	<key>CoursesDatabase</key>
	<string>$(COURSES_DB)</string>
	<key>TodoDatabase</key>
	<string>$(TODO_DB)</string>
</dict>
</plist>
